$accent: #FF6838;
$default: #31352B;
$title: #363853;
$hover: #FF7A50;
$hovershadow: rgba(255, 122, 80, 0.1);
$backgr: #F9FAFF;
$shadows: #ECECEC;
$fillwhite: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
$fillaccent: invert(51%) sepia(52%) saturate(2759%) hue-rotate(337deg) brightness(101%) contrast(101%);

