$accent: #FF6838;
$default: #31352B;
$title: #363853;
$hover: #FF7A50;
$hovershadow: rgba(255, 122, 80, 0.1);
$boxshadow: rgba(255, 104, 56, 0.7);
$active:#FFF2ED;
$backgr: #F9FAFF;
$shadows: #ECECEC;
$wt: #ffffff;
$pale: rgba(255, 255, 255, 0.01);
$boxshadowpale: rgba(255, 104, 56, 0.2);
$footer: #C2C2C2;



@function max($numbers...) {
   @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
   @return m#{i}n(#{$numbers});
}


