@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
   padding: 57px 0;

   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

.menu {
   display: flex;
   align-items: center;
   font-size: 18px;
   line-height: 21px;
   

   &__list {
      display: flex;
      margin-right: 51px;
   }

   &__item:not(:last-child) {
      padding-right: 45px;
   }

   &__link {
      color: $title;
      transition: 0.3s ease;

      &:hover {
         color: $accent;
      }

      &:focus {
         background-color: rgba(255, 255, 255, 0.01);
         box-shadow: 0 0 0 2px $boxshadow;
         border-radius: 5px;
         color: $title;
      }

      &:active {
         text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
      }

      &--active {
         color: $accent;
      }
   }
}

.user-nav {
   display: flex;

   &__link {
      position: relative;
      background-color: transparent;
      border: 2px solid transparent;
      border-radius: 5px;
      padding: 7px 10px 4px 10px;
   }

   &__search {
      width: 23px;
      height: 23px;
      fill: none;
      stroke: currentColor;
   }
   
   &__cart {
      width: 20px;
      height: 23px;
      fill: none;
      stroke: currentColor;
   }

   &__links {
      transition: .3s ease-in-out;

      &:not(:last-child) {
         margin-right: 8px;
      }

      &:hover {
         color: $wt;
         border-radius: 5px;
         background-color: $hover;

         & svg {
           stroke: $wt;
         }

         & span {
         color: $accent;
         background-color: $wt;
         }
      }

      &:focus {
         background-color: $hovershadow;
         box-shadow: 0 0 0 2px $boxshadow;

         & svg {
            fill: $title;
         }

         & span {
            color: $wt;
            background-color: $accent;
         }
      }

      &:active {
         background-color: $active;
         box-shadow: 0 0 0 2px transparent;

         & svg {
            stroke: $title;
         }

         & span {
            color: $wt;
            background-color: $accent;
         }
      }
   }

   &__num {
      position: absolute;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: $accent;
      top: 4px;
      left: 25px;
      color: $wt;
      font-size: 10px;
      line-height: 14px;
      text-align: center;
      transition: .3s ease-in-out;
   }
}

.hero {
   margin-bottom: 120px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: right 0;
   background-size: 48%;
   height: 69vh;
   
   &__inner {
      display: flex;
      flex-direction: column;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
   }

   &__title {
      font-size: 66px;
      line-height: 1.3;
      color: $title;
      font-family: 'Rubik';
      font-weight: 500;
      max-width: 450px;
      text-transform: uppercase;
      margin-bottom: 20px;
   }

   &__span {
      color: $accent;
   }

   &__message {
      max-width: 450px;
      margin-bottom: 20px;
   }

   &__buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 292px;
      letter-spacing: 0.03em;
      font-size: 18px;
   }
}

.categories {
   margin-bottom: 120px;

   &__title {
      text-align: center;
      font-weight: 500;
      font-size: 36px;
      line-height: 1.3;
      margin-bottom: 60px;
   }

   &__buttons {
      display: flex;
      margin-bottom: 45px;
   }

   &__button {
      display: flex;
      align-items: center;
      border: 1px solid $shadows;
      padding: 12px 32px;
      color: $title;
      background-color: $wt;
      border-radius: 5px;
      transition: .3s ease-in-out;

      & svg {
         width: 54px;
         height: 45px;
         padding-right: 10px;
         transition: .3s ease-in-out;
      }

      &:hover {
         color: $accent;
         background-color: $hovershadow;
         box-shadow: 0 0 0 2px $boxshadow;
         & svg {
            fill: $accent;
         }
      }

      &:focus {
         background-color: $wt;
         box-shadow: 0 0 0 2px $boxshadow;
         color: $title;
      }

      &:active {
         background-color: $wt;
         box-shadow: inset 0 -5px 12px $boxshadowpale;
         color: $title;
         & svg {
            fill: $title;
         }
      }
   }

   .mixitup-control-active {
      background-color: $accent;
      color: $wt;
      & svg {
         fill: $wt;
      }

      &:hover {
         color: $accent;
         background-color: $hovershadow;
         & svg {
            fill: $accent;
         }
      }
      &:focus {
         background-color: $wt;
         color: $title;
         & svg {
            fill: $title;
         }
      }
   }
   
   &__list {
      line-height: 1.3;
      
      &:not(:last-child) {
         margin-right: 18px;
      }
   }
   &__meals {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 30px;
      margin-bottom: 60px;
   }
   &__link {
      border: none;
      background-color: transparent;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
   }
   
}
   
.meal-card {
   background-color: $wt;
   border: 1px solid $shadows;
   border-radius: 5px;
   padding-bottom: 20px;
   display: flex;
   justify-content: end;
   align-items: center;
   flex-direction: column;
   text-align: center;
   font-size: 15px;
   transition: border .3s ease-in-out;

   &:hover {
      border: 1px solid $accent;
   }
   
   &__link {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__img {
      margin-bottom: 10px;
   }

   &__title {
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 29px;
   }

   &__price {
      line-height: 1.4;
      font-weight: 500;
      margin-bottom: 10px;
   }

   &__btn {
      padding: 3px 14px;
      font-size: 14px;
   }
}

.delivery {
   background-repeat: no-repeat;
   margin-left: 70px;
   margin-bottom: 113px;
   height: 62vh;

   &__inner {
      max-width: 470px;
      margin-left: auto;
      margin-right: 70px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      
      & svg {
         width: 34px;
         height: 34px;
         margin-right: 30px;

         &.timer {
            fill: $accent;
         }
         &.scooter {
            fill: #00AAFF;
         }
         &.restaurant {
            fill: #FF2222;
         }
      }
   }
   &__title {
      margin-bottom: 29px;
   }

   &__message {
      opacity: 0.9;
      margin-bottom: 30px;
   }

   &__list {
      margin-bottom: 32px;
   }

   &__service {
      display: flex;
      align-items: center;
      font-size: 24px;

      &:not(:last-child) {
         margin-bottom: 20px;
      }
   }

   &__button {
      font-size: 18px;
   }
}

.restaurants {
   margin-bottom: 120px;

   &__title {
      text-align: center;
      margin-bottom: 45px;
   }

   &__inner {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
   }
}
.restaurants-card {
   box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
   display: inline-block;
   border-radius: 10px;
   transition: .3s ease-in-out;
   border-radius: 10px;

   &:hover {
      box-shadow: 0 3px 15px $boxshadow;
      border-radius: 10px;
   }

   &__title {
      font-size: 24px;
      line-height: 1.3;
      padding-left: 20px;
      font-weight: 400;
   }

   &__wrapper {
      display: flex;
      justify-content: space-between;
      padding: 20px;
   }

   & img {
      margin-bottom: 15px;
   }

   &__clock {
      width: 22px;
      height: 22px;
      margin-right: 10px;
   }

   &__time {
      font-weight: 300;
      font-size: 18px;
      line-height: 167%;
      opacity: 0.9;
      display: flex;
      align-items: center;
   }

   &__btn {
      border-radius: 20px;
      padding: 3px 26px;

      & svg {
         width: 23px;
         height: 23px;
         fill: $wt;
      }

      &:hover {
         padding: 3px 10px 3px 42px;
         & svg {
            fill: $accent;
         }
      }
      
      &:focus {
         background-color: $active;
         & svg {
            fill: $accent;
         }
      }
   }
}

.review {
   margin-bottom: 132px;

   &__title {
      text-align: center;
      margin-bottom: 45px;
   }

   &__slider {
      position: relative;
   }

   &__img {
      border-radius: 50%;
      max-width: 300px;
      max-height: 300px;
      margin-left: 90px;
      margin-right: 25px;
   }

   &__quote {
      & svg {
         fill: $footer;
         width: 24px;
         height: 20px;
         margin: 0 16px;
      }
   }

   &__quotesup {
      margin-bottom: 18%;
   }

   &__quotesdown {
      margin-top: 4%;
   }

   &__wrapper {
      display: flex;
      min-width: 0;
      align-items: center;
      margin-bottom: 58px;
   }

   &__inner {
      display: flex;
      flex-direction: column;
      min-width: 0;
   }

   &__blockquote {
      font-style: italic;
      max-width: 570px;
      margin-bottom: 30px;
   }

   &__name {
      font-weight: 500;
      line-height: 1.3;
      color: $accent;
      margin-bottom: 15px;
   }

   &__client {
      font-size: 14px;
      line-height: 1.3;
   }

   &__arrow {
      position: absolute;
      bottom: -12px;
      line-height: 0;
      cursor: pointer;
      border: 3px solid $footer;
      border-radius: 50%;
      transition: .3s ease-in-out;

      & svg {
         width: 34px;
         height: 34px;
         fill: $footer;
         transition: .3s ease-in-out;
      }

      &:hover {
         background-color: $active;
         border: 3px solid #FFAE94;

         & svg {
            fill: #FFAE94;
         }
      }

      &:focus {
         box-shadow: 0 0 0 2px $boxshadow;
      }

      &:active {
         background-color: $active;
         border: 3px solid $active;
         & svg {
            fill: $hover;
         }
      }

      &.slick-active {
         svg {
            fill: $accent;
         }
      }
   }

   &__arrow-right {
      left: 56%;
   }

   &__arrow-left {
      left: 40%;
   }

   .slick-dots {
      display: flex;
      justify-content: center;

      li {
         line-height: 0;

         &:not(:last-child) {
            padding-right: 15px;
         }

         button {
            width: 15px;
            height: 15px;
            padding: 0;
            font-size: 0;
            border: 1px solid transparent;
            border-radius: 50%;
            background-color: $footer;
            transition: .3s ease-in-out;

            &:hover {
               background-color: $active;
               box-shadow: 0 0 0 2px rgba(255, 122, 80, 0.7);
            }

            &:focus {
               background-color: $footer;
               box-shadow: 0px 0px 0px 2px $accent;
            }

            &:active {
               background-color: #FFAE94;
            }
         }
         &.slick-active {
            button {
               background-color: $accent;
            }
         }
      }
   }
}

.mobile {
   margin-bottom: 125px;

   &__inner {
      background-repeat: no-repeat;
      background-position: right;
      height: 40vh;
   }

   &__wrapper {
      position: relative;
      top: 50%;
      transform: translatey(-50%);
   }

   &__title {
      max-width: 540px;
      margin-bottom: 45px;
   }

   &__message {
      margin-bottom: 30px;
      max-width: 540px;
   }

   &__downloads {
      display: flex;
   }

   &__link {
      &:not(:last-child) {
         margin-right: 30px;
      }
   }
}

.footer {
   &__logo {
      display: inline-block;
      margin-bottom: 32px;
      max-width: 200px;
      width: 100%;
   }
}

.footer-top {
   font-size: 18px;
   line-height: 1.3;
   letter-spacing: 0.01em;
   margin-bottom: 70px;
   display: flex;

   &__label {
      display: flex;
      flex-direction: column;
      margin-right: 70px;
   }
   
   &__btn {
      padding: 11px 37px;
      font-size: 14px;

      & svg {
         width: 30px;
         height: 18px;
         padding-right: 15px;
         transition: .3s ease-in-out;
         fill: $wt;
      }

      &:hover {
         & svg {
           fill: $accent;
        }
      }

      &:focus {
         & svg {
            fill: $accent;
         }
      }
   }

   &__item {
      transition: .3s ease-in-out;

      &:hover {
         color: $accent;
      }

      &:focus {
         box-shadow: 0 0 0 2px $boxshadow;
      }

      &:active {
         color: $title;
         text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
      }
   }

   &__input {
      max-width: 200px;
      width: 100%;
      border: 1px solid $footer;
      border-radius: 5px;
      padding: 12px 15px;
      font-size: 14px;
      color: $footer;
      opacity: 0.9;
      margin-bottom: 12px;
      transition: .3s ease-in-out;

      &:hover {
         color: $title;
      }

      &:focus {
         box-shadow: 0 0 0 2px $accent;
      }
   }

   &__list {
      display: grid;
      grid-template-columns: 1fr 125px 1fr;
      grid-template-rows: repeat(4, 43px);
      grid-auto-flow: column;
      grid-column-gap: 36px;
      margin-top: -7px;
   }

   .address {
      font-size: 16px;
      line-height: 2;
      margin-left: 33px;

      &__list-item {
         margin-bottom: 15px;
         transition: color .3s ease-in-out;
         
         &:hover {
            color: $accent;
         }

         &:focus {
            color: currentColor;
            box-shadow: 0 0 0 2px $boxshadow;
         }
         
         &:active {
            color: $title;
            text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
         }
      }

      &__link {
         display: flex;
         align-items: center;
         
         & svg {
            stroke: currentColor;
            fill: none;
            width: 24px;
            height: 24px;
            margin-right: 7px;
         }
      }
      
      
      &__socials {
         display: flex;
      }
      
      &__social {
         display: flex;
         width: 39px;
         height: 39px;
         border-radius: 50%;
         background-color: $shadows;
         margin-right: 13px;
         position: relative;
         transition: .3s ease-in-out;
         width: 39px;
      
         & svg {
            fill: currentColor;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 10px;
            left: 10px;
         }
      
         &:hover {
            background-color: $accent;
            & svg {
               fill: $wt;
            }
         }

         &:focus {
            background-color: $active;
            box-shadow: 0 0 0 2px $boxshadow;
         }

         &:active {
            background-color: $active;

            & svg {
               fill: $hover;
            }
         }
      }
   }
}

.footer-bottom {
   border-top: 1px solid rgba(194, 194, 194, 0.2);
   font-size: 14px;
   line-height: 1;
   padding: 30px;
   text-align: center;
}





