@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
   padding: 60px 0;
   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

.menu {
   &__list {
      display: flex;
   }
   &__item:not(:last-child) {
      padding-right: 45px;
   }
   &__link {
      color: $title;
      transition: color 0.3s ease;
      &:hover {
         color: $accent;
      }
   }
   &__link--active {
      color: $accent;
   }
}

.user-nav {
   display: flex;
   &__link {
      position: relative;
   }
   &__links:not(:last-child) {
      padding-right: 36px;
   }
   &__num {
      position: absolute;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: $accent;
      top: 12px;
      left: 14px;
      color: #fff;
      font-size: 10px;
      line-height: 14px;
      text-align: center;
   }

}









@import 'media';