@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';


.header {
   padding: 54px 0;

   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

.menu {
   display: flex;
   align-items: center;
   font-size: 18px;
   line-height: 21px;

   &__list {
      display: flex;
      margin-right: 63px;
   }

   &__item:not(:last-child) {
      padding-right: 45px;
   }

   &__link {
      color: $title;
      transition: color 0.3s ease;

      &:hover {
         color: $accent;
      }
   }

   &__link--active {
      color: $accent;
   }
}

.user-nav {
   display: flex;

   &__link {
      position: relative;
      background-color: transparent;
      border: 2px solid transparent;
      border-radius: 5px;
      padding: 10px;

      &:not(:last-child) {
         margin-right: 10px;
      }
   }
   &__links {
      transition: .3s ease-in-out;

      &:hover {
         color: #fff;
         border-radius: 5px;
         background-color: $hover;
      }
      &:hover span {
         color: $accent;
         background-color: #fff;
      }
      
      &:hover img {
         filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
      }
   }

   &__num {
      position: absolute;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: $accent;
      top: 7px;
      left: 25px;
      color: #fff;
      font-size: 10px;
      line-height: 14px;
      text-align: center;
      transition: .3s ease-in-out;
   }
}

.hero {
   display: flex;
   justify-content: space-between;
   margin-bottom: 120px;
   background-repeat: no-repeat;
   background-size: cover;
   max-width: 560px;
   
   &__inner {
      display: flex;
      flex-direction: column;
      margin: auto 0;
   }

   &__title {
      font-size: 66px;
      line-height: 1.3;
      color: $title;
      font-family: 'Rubik';
      font-weight: 500;
      max-width: 450px;
      text-transform: uppercase;
   }

   &__span {
      color: $accent;
   }

   &__message {
      max-width: 450px;
      margin-bottom: 20px;
   }

   // &__image {
   //    // background-image: url('../images/scooter.png');
      
   // }

   &__buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 288px;
   }
}

.categories {
   margin-bottom: 120px;
   &__title {
      text-align: center;
      margin-bottom: 60px;
   }

   &__buttons {
      display: flex;
      margin-bottom: 45px;
   }

   &__button {
      display: flex;
      align-items: center;
      background-color: #fff;
      color: $title;
      border: 1px solid $shadows;
      border-radius: 5px;
      padding: 14px 32px;
      cursor: pointer;
      transition: .3s ease-in-out;

      &:hover {
         color: $accent;
         background-color: $hovershadow;
         box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
         border-radius: 5px;
         filter: $fillaccent;
      }
   }
   &__button img {
      padding-right: 10px;
   }
   
   &__button--active img {
      filter: $fillwhite;
   }
   
   &__button--active {
      background-color: $accent;
      color: #fff;
   }

   &__list {
      &:not(:last-child) {
         margin-right: 20px;
      }
   }

   &__meals {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 30px;
      margin-bottom: 60px;
   }
   &__link {
      position: relative;
      left: 45%;
      transform: translateX(-50%);
   }
}
.meal-card {
   background-color: #fff;
   border: 1px solid $shadows;
   border-radius: 5px;
   padding: 20px 15px;
   display: flex;
   justify-content: end;
   align-items: center;
   flex-direction: column;
   text-align: center;
   font-size: 15px;
   transition: .3s ease-in-out;

   &:hover {
      border: 1px solid $accent;
   }
   
   &__link {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   &__img {
      margin-bottom: 10px;
   }
   &__title {
      @extend %rubik-400;
      line-height: 18px;
      margin-bottom: 10px;
   }
   &__price {
      line-height: 1.4;
      @extend %rubik-500;
      margin-bottom: 10px;
   }
   &__btn {
      padding: 7px 16px;
      color: #fff;
      background-color: $accent;
      border: 1px solid transparent;
      border-radius: 5px;
      cursor: pointer;
   }
}









@import 'media';