.review {
  margin-bottom: 132px;

  @include r($r-tm) {
    margin-bottom: 40px;
  }

  &__title {
    text-align: center;
    margin-bottom: 45px;

    @include r($r-tm) {
      margin-bottom: 30px;
    }
  }

  &__slider {
    position: relative;
  }

  &__img {
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    margin-left: 90px;
    margin-right: 40px;
    object-fit: contain;

    @include r($r-dt) {
      margin-left: 25px;
    }

    @include r($r-tb) {
      max-height: 200px;
      max-width: 200px;
    }

    @include r($r-tm) {
      max-height: 150px;
      max-width: 150px;
      margin-left: 15px;
      margin-right: 15px;
    }

    @include r($r-ph) {
      max-height: 100px;
      max-width: 100px;
      margin: 0 auto 28px;
    }
  }

  &__quote {
    display: flex;
    align-items: center;

    @include r($r-ph) {
      flex-direction: column;
    }
    & svg {
      fill: $footer;
      width: 24px;
      height: 20px;
    }
  }

  &__quotesup {
    margin-bottom: auto;
    margin-right: 16px;

    @include r($r-ph) {
      margin-right: 15px;
      position: relative;
      top: -11px;
      left: 5px;
    }
  }

  &__quotesdown {
    margin-top: 20%;

    @include r($r-tm) {
      margin-top: 0;
    }
    @include r($r-ph) {
      margin-top: 40%;
      position: relative;
      bottom: 3px;
      right: 5px;
    }
  }

  &__wrapper {
    display: flex;
    min-width: 0;
    align-items: center;
    margin-bottom: 58px;

    @include r($r-ph) {
      flex-direction: column;
      margin-bottom: 0;
    }
  }

  &__inner {
    min-width: 0;
    display: flex;
  }

  &__message {
    font-style: italic;
    max-width: 570px;
    margin-right: 15px;
    @include line-clamp(10);

    @include r($r-tb) {
      font-size: 16px;
    }

    @include r($r-tm) {
      font-size: 14px;
    }

    @include r($r-ph) {
      margin-right: 20px;
    }

    & p {
      margin-bottom: 30px;

      @include r($r-ph) {
        margin-bottom: 20px;
      }
    }
  }

  &__name {
    font-weight: 500;
    line-height: 1.3;
    color: $accent;
    margin-bottom: 15px;
    display: block;
    font-style: normal;

    @include r($r-tm) {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  &__client {
    font-size: 14px;
    line-height: 1.3;
    display: block;
    font-style: normal;
  }

  &__arrow {
    position: absolute;
    bottom: -12px;
    line-height: 0;
    cursor: pointer;
    border: 3px solid $footer;
    border-radius: 50%;
    z-index: 2;
    transition: 0.3s ease-in-out;

    & svg {
      width: 34px;
      height: 34px;
      fill: $footer;
      transition: 0.3s ease-in-out;
    }

    &:hover {
      background-color: $active;
      border: 3px solid #ffae94;

      & svg {
        fill: #ffae94;
      }
    }

    &:focus {
      box-shadow: 0 0 0 2px $boxshadow;
    }

    &:active {
      background-color: $active;
      border: 3px solid $active;
      & svg {
        fill: $hover;
      }
    }

    &.slick-active {
      svg {
        fill: $accent;
      }
    }
  }

  &__arrow-right {
    left: 56%;

    @include r($r-ph) {
      left: 78%;
      bottom: 81%;
    }
  }

  &__arrow-left {
    left: 40%;

    @include r($r-ph) {
      left: 10%;
      bottom: 81%;
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;

    li {
      line-height: 0;

      &:not(:last-child) {
        padding-right: 15px;
      }

      button {
        width: 15px;
        height: 15px;
        padding: 0;
        font-size: 0;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: $footer;
        transition: 0.3s ease-in-out;

        &:hover {
          background-color: $active;
          box-shadow: 0 0 0 2px rgba(255, 122, 80, 0.7);
        }

        &:focus {
          background-color: $footer;
          box-shadow: 0px 0px 0px 2px $accent;
        }

        &:active {
          background-color: #ffae94;
        }
      }
      &.slick-active {
        button {
          background-color: $accent;
        }
      }
    }
  }
}
