<section class="catalogue">
   <div class="container">
      <div class="catalogue__title-wrapper">
         <h2 class="catalogue__title">Каталог продуктов</h2>
         
         <div class="catalogue__title-wrapper--selects">
            <select class="catalogue__select">
               <option>По названию</option>
            </select>
            
            <select class="catalogue__select">
               <option>По 12</option>
               <option>По 24</option>
               <option>По 36</option>
            </select>
         </div>
      </div>

      <div class="catalogue__inner">
         <div class="catalogue__filters">
            <div class="catalogue__categories catalogue-filter">
               <h3 class="catalogue__filters-title">Категории</h3>
            </div>

            <div class="catalogue__offers catalogue-filter">
               <h3 class="catalogue__filters-title">Предложения</h3>
            </div>

            <div class="catalogue__prices catalogue-filter">
               <h3 class="catalogue__filters-title">Цена</h3>
               <form class="filter-price__form" action="#">
                  <input class="filter-price__input" type="text"
                  data-min="70"
                  data-max="1100"
                  data-from="100"
                  data-to="1000"
                  >
               </form>
            </div>
            
         </div>

         <div class="catalogue__dishes">
            
         </div>

      </div>
   </div>
</section>