<section class="categories">
   <h2 class="categories__title">Популярные категории </h2>
   <ul class="categories__buttons">

     <li class="categories__list">
       <button class="categories__button" type="button" data-filter="all">
         <svg class="categories__burger">
           <use xlink:href="images/sprite.svg#burger"></use>
         </svg> Бургеры
       </button>
     </li>

     <li class="categories__list">
       <button class="categories__button" type="button" data-filter=".pizzas">
         <svg class="categories__pizza">
           <use xlink:href="images/sprite.svg#pizza"></use>
         </svg> Пицца
       </button>
     </li>

     <li class="categories__list">
       <button class="categories__button" type="button" data-filter=".sandwiches">
         <svg class="categories__sandwich">
           <use xlink:href="images/sprite.svg#sandwich"></use>
         </svg> Сендвичи
       </button>
     </li>

     <li class="categories__list">
       <button class="categories__button" type="button" data-filter=".asian">
         <svg class="categories__chicken">
           <use xlink:href="images/sprite.svg#chicken"></use>
         </svg> Азиатская кухня
       </button>
     </li>

     <li class="categories__list">
       <button class="categories__button" type="button" data-filter=".sets">
         <svg class="categories__dish">
           <use xlink:href="images/sprite.svg#dish"></use>
         </svg> Cеты
       </button>
     </li>
   </ul>

   <ul class="categories__meals">

     <li class="meal-card mix pizzas">
       <a class="meal-card__link" href="#">
         <img class="meal-card__img" src="images/burger1.jpg" width="140" height="140" alt="бургер1">
         <h3 class="meal-card__title">Чизбургер с листьями салата</h3>
       </a>
       <span class="meal-card__price">160 <span>грн.</span></span>
       <button class="button meal-card__btn" type="button">В корзину</button>
     </li>

     <li class="meal-card mix pizzas">
       <a class="meal-card__link" href="#">
         <img class="meal-card__img" src="images/burger2.jpg" width="140" height="140" alt="бургер2">
         <h3 class="meal-card__title">Бифбургер</h3>
       </a>
       <span class="meal-card__price">190 <span>грн.</span></span>
       <button class="button meal-card__btn" type="button">В корзину</button>
     </li>

     <li class="meal-card mix pizzas">
       <a class="meal-card__link" href="#">
         <img class="meal-card__img" src="images/burger3.jpg" width="140" height="140" alt="бургер3">
         <h3 class="meal-card__title">Королевский чизбургер</h3>
       </a>
       <span class="meal-card__price">260 <span>грн.</span></span>
       <button class="button meal-card__btn" type="button">В корзину</button>
     </li>

     <li class="meal-card mix sandwiches">
       <a class="meal-card__link" href="#">
         <img class="meal-card__img" src="images/burger4.jpg" width="140" height="140" alt="бургер4">
         <h3 class="meal-card__title">Черный гамбургер</h3>
       </a>
       <span class="meal-card__price">199 <span>грн.</span></span>
       <button class="button meal-card__btn" type="button">В корзину</button>
     </li>

     <li class="meal-card mix sandwiches">
       <a class="meal-card__link" href="#">
         <img class="meal-card__img" src="images/burger5.jpg" width="140" height="140" alt="бургер5">
         <h3 class="meal-card__title">Чикен бургер</h3>
       </a>
       <span class="meal-card__price">180 <span>грн.</span></span>
       <button class="button meal-card__btn" type="button">В корзину</button>
     </li>

     <li class="meal-card mix sandwiches">
       <a class="meal-card__link" href="#">
         <img class="meal-card__img" src="images/burger1.jpg" width="140" height="140" alt="бургер1">
         <h3 class="meal-card__title">Чизбургер с листьями салата</h3>
       </a>
       <span class="meal-card__price">160 <span>грн.</span></span>
       <button class="button meal-card__btn" type="button">В корзину</button>
     </li>

     <li class="meal-card mix asian">
       <a class="meal-card__link" href="#">
         <img class="meal-card__img" src="images/burger2.jpg" width="140" height="140" alt="бургер2">
         <h3 class="meal-card__title">Бифбургер</h3>
       </a>
       <span class="meal-card__price">190 <span>грн.</span></span>
       <button class="button meal-card__btn" type="button">В корзину</button>
     </li>

     <li class="meal-card mix asian">
       <a class="meal-card__link" href="#">
         <img class="meal-card__img" src="images/burger3.jpg" width="140" height="140" alt="бургер3">
         <h3 class="meal-card__title">Королевский чизбургер</h3>
       </a>
       <span class="meal-card__price">260 <span>грн.</span></span>
       <button class="button meal-card__btn" type="button">В корзину</button>
     </li>

     <li class="meal-card mix sets">
       <a class="meal-card__link" href="#">
         <img class="meal-card__img" src="images/burger4.jpg" width="140" height="140" alt="бургер4">
         <h3 class="meal-card__title">Черный гамбургер</h3>
       </a>
       <span class="meal-card__price">199 <span>грн.</span></span>
       <button class="button meal-card__btn" type="button">В корзину</button>
     </li>

     <li class="meal-card mix sets">
       <a class="meal-card__link" href="#">
         <img class="meal-card__img" src="images/burger5.jpg" width="140" height="140" alt="бургер5">
         <h3 class="meal-card__title">Чикен бургер</h3>
       </a>
       <span class="meal-card__price">180 <span>грн.</span></span>
       <button class="button meal-card__btn" type="button">В корзину</button>
     </li>
   </ul>

   <button class="link categories__link" type="button">Показать еще</button>
 </section>
</div>