<div class="container">
   <section class="delivery" style="background-image: url(./images/delivery.png)">
     <div class="delivery__inner">
       <h2 class="title delivery__title">Оставайтесь дома,
         а&nbsp;мы&nbsp;позаботимся о&nbsp;еде
       </h2>
       <div class="delivery__message">
         <p>
           У&nbsp;нас есть вкусная еда и&nbsp;мы&nbsp;готовы доставить её&nbsp;к&nbsp;вам домой! Воспользуйтесь нашей
           доставкой прямо сейчас и&nbsp;получите скиидку!
         </p>
       </div>

       <ul class="delivery__list">
         <li class="delivery__service">
           <svg class="timer">
             <use xlink:href="images/sprite.svg#timer"></use>
           </svg>
           <span>Быстрая доставка за 15 минут</span>
         </li>

         <li class="delivery__service">
           <svg class="scooter">
             <use xlink:href="images/sprite.svg#scooter"></use>
           </svg>
           <span>Вежливые курьеры</span>
         </li>

         <li class="delivery__service">
           <svg class="restaurant">
             <use xlink:href="images/sprite.svg#restaurant"></use>
           </svg>
           <span>Более 500 заведений</span>
         </li>
       </ul>

       <button class="button delivery__button" type="button">Подробнее</button>
     </div>
   </section>
 </div>