<footer class="footer">
   <div class="container">
     <div class="footer-top">

       <label class="footer-top__label" for="mail">
         <a class="logo footer__logo" href="#">
           <img src="images/logo.svg" width="200" height="39" alt="логотип">
         </a>
         <span class="sr-only">Ввести свой имейл для получения рассылки</span>
         <input class="footer-top__input" type="email" id="mail" name="mail" required="required"
           placeholder="Ваш email">
         <button class="button footer-top__btn" type="submit">
           <svg class="footer-top__plane">
             <use xlink:href="images/sprite.svg#plane"></use>
           </svg>Подписаться
         </button>
       </label>

       <ul class="footer-top__list">
         <li class="footer-top__item">
           <a href="#">Как это работает</a>
         </li>
         <li class="footer-top__item">
           <a href="#">Продукты</a>
         </li>
         <li class="footer-top__item">
           <a href="#">Блюда</a>
         </li>
         <li class="footer-top__item">
           <a href="#">Меню</a>
         </li>
         <li class="footer-top__item">
           <a href="#">О нас</a>
         </li>
         <li class="footer-top__item">
           <a href="#">Новости</a>
         </li>
         <li class="footer-top__item">
           <a href="#">Партнеры</a>
         </li>
         <li class="footer-top__item">
           <a href="#">ЧаВо</a>
         </li>
         <li class="footer-top__item">
           <a href="#">Скачать приложение</a>
         </li>
         <li class="footer-top__item">
           <a href="#">Блог</a>
         </li>
         <li class="footer-top__item">
           <a href="#">Что нового?</a>
         </li>
         <li class="footer-top__item">
           <a href="#">Карта сайта</a>
         </li>
       </ul>

       <address class="footer-top__address address">

         <ul class="address__list">
           <li class="address__list-item">
             <a class="address__link" href="#">
               <span class="sr-only">наш адрес на карте</span>
               <svg>
                 <use xlink:href="images/sprite.svg#location"></use>
               </svg> ул. Т.Г.Шевченко, 1
             </a>
           </li>
           <li class="address__list-item">
             <a class="address__link" href="tel:+380501112233">
               <span class="sr-only">позвонить нам</span>
               <svg>
                 <use xlink:href="images/sprite.svg#calling"></use>
               </svg> 380501112233
             </a>
           </li>
           <li class="address__list-item">
             <a class="address__link" href="mailto:support@sfood.com">
               <span class="sr-only">написать нам имейл</span>
               <svg>
                 <use xlink:href="images/sprite.svg#message"></use>
               </svg> support@sfood.com
             </a>
           </li>
         </ul>

         <ul class="address__socials">

           <li class="address__social">
             <span class="sr-only">перейти на страницу в фейсбук</span>
             <a class="facebook" href="#">
               <svg>
                 <use xlink:href="images/sprite.svg#facebook"></use>
               </svg>
             </a>
           </li>

           <li class="address__social">
             <span class="sr-only">перейти на страницу в твиттер</span>
             <a class="twitter" href="#">
               <svg>
                 <use xlink:href="images/sprite.svg#twitter"></use>
               </svg>
             </a>
           </li>

           <li class="address__social">
             <span class="sr-only">перейти на страницу в инстаграмм</span>
             <a class="instagram" href="#">
               <svg>
                 <use xlink:href="images/sprite.svg#instagram"></use>
               </svg>
             </a>
           </li>

         </ul>

       </address>

     </div>
   </div>

   <div class="footer-bottom">
     © 2022 Simple Food
   </div>

 </footer>