<body>
   <header class="header">
     <div class="container">
       <nav class="header__inner">
         <a class="logo" href="#">
           <img class="logo__img" src="images/logo.svg" alt="логотип" width="200" height="39">
         </a>
 
         <div class="menu">
           <ul class="menu__list">
 
             <li class="menu__item">
               <a class="menu__link menu__link--active" href="/app/index.html">Главная</a>
             </li>
             <li class="menu__item">
               <a class="menu__link" href="#">Блюда</a>
             </li>
             <li class="menu__item">
               <a class="menu__link" href="#">Контакты</a>
             </li>
 
           </ul>
 
           <div class="menu__mobile">
 
             <div class="menu__mobile-flex">
               <a class="logo" href="#">
                 <img class="logo__img" src="images/logo.svg" alt="логотип" width="200" height="39">
               </a>
               <button class="menu-btnclose">
                 <span class="sr-only">Кнопка закрыть мобильное меню навигации</span>
               </button>
             </div>
 
 
             <ul class="menu__mobile-list">
 
               <li class="menu__item">
                 <a class="menu__link menu__link--active" href="#">Главная</a>
               </li>
               <li class="menu__item">
                 <a class="menu__link" href="#">Блюда</a>
               </li>
               <li class="menu__item">
                 <a class="menu__link" href="#">Контакты</a>
               </li>
             </ul>
 
 
             <address class="menu__address address">
 
               <ul class="address__list">
                 <li class="address__list-item">
                   <a class="address__link" href="#">
                     <span class="sr-only">наш адрес на карте</span>
                     <svg>
                       <use xlink:href="images/sprite.svg#location"></use>
                     </svg> ул. Т.Г.Шевченко, 1
                   </a>
                 </li>
                 <li class="address__list-item">
                   <a class="address__link" href="tel:+380501112233">
                     <span class="sr-only">позвонить нам</span>
                     <svg>
                       <use xlink:href="images/sprite.svg#calling"></use>
                     </svg> 380501112233
                   </a>
                 </li>
                 <li class="address__list-item">
                   <a class="address__link" href="mailto:support@sfood.com">
                     <span class="sr-only">написать нам имейл</span>
                     <svg>
                       <use xlink:href="images/sprite.svg#message"></use>
                     </svg> support@sfood.com
                   </a>
                 </li>
               </ul>
 
               <ul class="address__socials">
 
                 <li class="address__social">
                   <span class="sr-only">перейти на страницу в фейсбук</span>
                   <a class="facebook" href="#">
                     <svg>
                       <use xlink:href="images/sprite.svg#facebook"></use>
                     </svg>
                   </a>
                 </li>
 
                 <li class="address__social">
                   <span class="sr-only">перейти на страницу в твиттер</span>
                   <a class="twitter" href="#">
                     <svg>
                       <use xlink:href="images/sprite.svg#twitter"></use>
                     </svg>
                   </a>
                 </li>
 
                 <li class="address__social">
                   <span class="sr-only">перейти на страницу в инстаграмм</span>
                   <a class="instagram" href="#">
                     <svg>
                       <use xlink:href="images/sprite.svg#instagram"></use>
                     </svg>
                   </a>
                 </li>
 
               </ul>
 
             </address>
 
           </div>
 
           <ul class="user-nav menu__user-nav">
             <li class="user-nav__links">
               <button class="user-nav__link" type="button">
                 <span class="sr-only">кнопка поиска по сайту</span>
                 <svg class="user-nav__search">
                   <use xlink:href="images/sprite.svg#search"></use>
                 </svg>
               </button>
             </li>
 
             <li class="user-nav__links">
               <button class="user-nav__link" type="button">
                 <span class="sr-only">корзина наших заказов</span>
                 <svg class="user-nav__cart">
                   <use xlink:href="images/sprite.svg#cart"></use>
                 </svg>
                 <span class="sr-only">количество товаров в корзине</span>
                 <span class="user-nav__num">4</span>
               </button>
             </li>
           </ul>
 
           <button class="menu-btn">
             <span></span>
             <span class="sr-only">Кнопка открыть мобильное меню навигации</span>
           </button>
 
         </div>
       </nav>
     </div>
   </header>