<section class="mobile">
   <div class="container">
     <div class="mobile__inner" style="background-image: url(./images/mobile-bg.jpg)">
       <div class="mobile__wrapper">
         <h2 class="title mobile__title">Скачайте мобильное приложение</h2>
         <div class="mobile__message">
           <p>
             Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом
             удобном
             месте.
           </p>
         </div>
         <ul class="mobile__downloads">
           <li class="mobile__link">
             <a class="mobile__appstore" href="#">
               <span class="sr-only">ссылка на скачивание приложения из аппстор</span>
             </a>
           </li>
           <li class="mobile__link">
             <a class="mobile__googleplay" href="#">
               <span class="sr-only">ссылка на скачивание приложения из гуглплей</span>
             </a>
           </li>
         </ul>
       </div>
     </div>
   </div>
 </section>