<section class="restaurants">
   <div class="container">
     <h2 class="title restaurants__title">Лучшие рестораны</h2>
     <div class="restaurants__inner-wrapper">
       <div class="restaurants__inner">

         <div class="restaurants-card">
           <a class="restaurants-card__link" href="#">
             <img src="images/restaurant1.jpg" width="370" height="300" alt="блейз пицца">
             <h3 class="restaurants-card__title">Blaze Pizza</h3>
           </a>
           <div class="restaurants-card__wrapper">
             <span class="restaurants-card__time">
               <span class="restaurants-card__clock"></span>
               <span class="sr-only">Часы работы ресторана</span>
               11:00 - 22:00
             </span>
             <button class="button restaurants-card__btn">
               <svg>
                 <use xlink:href="images/sprite.svg#smallarrow"></use>
               </svg>
             </button>
           </div>
         </div>

         <div class="restaurants-card">
           <a class="restaurants-card__link" href="#">
             <img src="images/restaurant2.jpg" width="370" height="300" alt="пицца ранчо">
             <h3 class="restaurants-card__title">Pizza Runcho</h3>
           </a>
           <div class="restaurants-card__wrapper">
             <span class="restaurants-card__time">
               <span class="restaurants-card__clock"></span>
               <span class="sr-only">Часы работы ресторана</span>
               12:00 - 21:00
             </span>
             <button class="button restaurants-card__btn">
               <svg>
                 <use xlink:href="images/sprite.svg#smallarrow"></use>
               </svg>
             </button>
           </div>
         </div>

         <div class="restaurants-card">
           <a class="restaurants-card__link" href="#">
             <img src="images/restaurant3.jpg" width="370" height="300" alt="пицца хат">
             <h3 class="restaurants-card__title">Pizza Hut</h3>
           </a>
           <div class="restaurants-card__wrapper">
             <span class="restaurants-card__time">
               <span class="restaurants-card__clock"></span>
               <span class="sr-only">Часы работы ресторана</span>
               11:00 - 22:00
             </span>
             <button class="button restaurants-card__btn">
               <svg>
                 <use xlink:href="images/sprite.svg#smallarrow"></use>
               </svg>
             </button>
           </div>
         </div>

         <div class="restaurants-card">
           <a class="restaurants-card__link" href="#">
             <img src="images/restaurant4.jpg" width="370" height="300" alt="макдональдс">
             <h3 class="restaurants-card__title">McDonald`s</h3>
           </a>
           <div class="restaurants-card__wrapper">
             <span class="restaurants-card__time">
               <span class="restaurants-card__clock"></span>
               <span class="sr-only">Часы работы ресторана</span>
               06:00 - 23:00
             </span>
             <button class="button restaurants-card__btn">
               <svg>
                 <use xlink:href="images/sprite.svg#smallarrow"></use>
               </svg>
             </button>
           </div>
         </div>

         <div class="restaurants-card">
           <a class="restaurants-card__link" href="#">
             <img src="images/restaurant5.jpg" width="370" height="300" alt="кейэфси">
             <h3 class="restaurants-card__title">KFC</h3>
           </a>
           <div class="restaurants-card__wrapper">
             <span class="restaurants-card__time">
               <span class="restaurants-card__clock"></span>
               <span class="sr-only">Часы работы ресторана</span>
               06:00 - 23:30
             </span>
             <button class="button restaurants-card__btn">
               <svg>
                 <use xlink:href="images/sprite.svg#smallarrow"></use>
               </svg>
             </button>
           </div>
         </div>

         <div class="restaurants-card">
           <a class="restaurants-card__link" href="#">
             <img src="images/restaurant6.jpg" width="370" height="300" alt="стар бургерс">
             <h3 class="restaurants-card__title">Star Burgers</h3>
           </a>
           <div class="restaurants-card__wrapper">
             <span class="restaurants-card__time">
               <span class="restaurants-card__clock"></span>
               <span class="sr-only">Часы работы ресторана</span>
               09:00 - 21:00
             </span>
             <button class="button restaurants-card__btn">
               <svg>
                 <use xlink:href="images/sprite.svg#smallarrow"></use>
               </svg>
             </button>
           </div>
         </div>

       </div>

     </div>
   </div>
 </section>