<section class="review">
   <div class="container">
     <h2 class="title review__title">Отзывы клиентов</h2>
     <blockquote class="review__slider">

       <div class="review__wrapper">
         <div class="review__quote">
           <img class="review__img" src="images/blockquote.jpg" width="300" height="300" alt="фото клиента">
           <div class="review__inner">
             <span class="review__quotesup">
               <svg>
                 <use xlink:href="images/sprite.svg#quotesup"></use>
               </svg>
             </span>
             <div class="review__message">
               <p>
                 SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
                 приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки
                 на
                 доставку - однозначно рекомендую!
               </p>
               <span class="review__name">Дарья</span>
               <span class="review__client">Ценитель вкусной еды</span>
             </div>
             <span class="review__quotesdown">
               <svg>
                 <use xlink:href="images/sprite.svg#quotesdown"></use>
               </svg>
             </span>
           </div>
         </div>
       </div>

       <div class="review__wrapper">
         <div class="review__quote">
           <img class="review__img" src="images/blockquote.jpg" width="300" height="300" alt="фото клиента">
           <div class="review__inner">
             <span class="review__quotesup">
               <svg>
                 <use xlink:href="images/sprite.svg#quotesup"></use>
               </svg>
             </span>
             <div class="review__message">
               <p>
                 SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
                 приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки
                 на
                 доставку - однозначно рекомендую!
               </p>
               <span class="review__name">Дарья</span>
               <span class="review__client">Ценитель вкусной еды</span>
             </div>
             <span class="review__quotesdown">
               <svg>
                 <use xlink:href="images/sprite.svg#quotesdown"></use>
               </svg>
             </span>
           </div>
         </div>
       </div>

       <div class="review__wrapper">
         <div class="review__quote">
           <img class="review__img" src="images/blockquote.jpg" width="300" height="300" alt="фото клиента">
           <div class="review__inner">
             <span class="review__quotesup">
               <svg>
                 <use xlink:href="images/sprite.svg#quotesup"></use>
               </svg>
             </span>
             <div class="review__message">
               <p>
                 SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
                 приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки
                 на
                 доставку - однозначно рекомендую!
               </p>
               <span class="review__name">Дарья</span>
               <span class="review__client">Ценитель вкусной еды</span>
             </div>
             <span class="review__quotesdown">
               <svg>
                 <use xlink:href="images/sprite.svg#quotesdown"></use>
               </svg>
             </span>
           </div>
         </div>
       </div>

       <div class="review__wrapper">
         <div class="review__quote">
           <img class="review__img" src="images/blockquote.jpg" width="300" height="300" alt="фото клиента">
           <div class="review__inner">
             <span class="review__quotesup">
               <svg>
                 <use xlink:href="images/sprite.svg#quotesup"></use>
               </svg>
             </span>
             <div class="review__message">
               <p>
                 SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
                 приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки
                 на
                 доставку - однозначно рекомендую!
               </p>
               <span class="review__name">Дарья</span>
               <span class="review__client">Ценитель вкусной еды</span>
             </div>
             <span class="review__quotesdown">
               <svg>
                 <use xlink:href="images/sprite.svg#quotesdown"></use>
               </svg>
             </span>
           </div>
         </div>
       </div>

     </blockquote>
   </div>
 </section>